jobs:
    validate-database-import:
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v4
            -   uses: actions/setup-java@v4
                with:
                    distribution: zulu
                    java-version: "21"
            -   run: ./test-database-import.sh
name: Validate database import
on: [pull_request, workflow_dispatch]